:root {
    --bg : black;
    --txt : white;
    --table : green;
    --thclr : lightgreen;
    --trbgclr1: rgb(0, 49, 0);
    --trbgclr2: rgb(20, 20, 20);
    --popupbg: rgba(255, 255, 255, 0.6);
    --popupborder: yellow;
    --closebtn: darkred;
}

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    color: var(--txt);
    font-size: 1.6rem;
    margin: 0;
  }


  .no-scroll{
    overflow: hidden;
  }

  header {
    position: relative;
  }

  header img{
    width: 100%;
  }

  header h1{
    position: absolute;
    bottom: 0px;
  }

  table {
    border: solid 1px var(--table);
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    max-width: 60%;
    background-color: var(--table);
    border-collapse: collapse;
  }

  caption{
    background-color: var(--table);
    font-size: 2.5rem;
    text-align: left;
    padding: 10px 5px 15px 10px;
    margin-bottom: 1px;
  }

tbody tr:nth-child(odd){
    background-color: var(--trbgclr1);
}
tbody tr:nth-child(even){
    background-color: var(--trbgclr2);
}
tbody tr:hover {
    background-color: var(--thclr);
    color: var(--bg);
}
  th{
    color: var(--thclr);
    text-align: left;
  }

  td {
    padding: 7px;
    text-align: center;
  }

  .maxWidth{
    width: 100%;
    text-align: left;
  }

  button, input{
    padding: 8px 15px 8px 15px;
    border: solid 1px var(--txt);
    background-color: var(--table);
    color: var(--txt);
  }

  button:hover{
    cursor: pointer;
  }

  .padding60 {
    padding-right: 60px;
  }

  .hide {
    display: none;
  }

  dialog{
    width: 100%;
    height: 100%;
    animation: fadeIn 0.2s;
    position: fixed;
    top: 0;
    border: none;
    background-color: var(--popupbg);
    overflow: auto;

  }

  dialog section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    min-width: 500px;
    max-width: 40%;
    background-color: var(--trbgclr1);
    border: solid 1px var(--popupborder);
    padding: 10px;
    color: var(--popupborder);
    filter: drop-shadow(0 0 50px var(--table));
  }

  @keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .closeBtn{
    background-color: var(--closebtn);
    border: solid 1px var(--txt);
    color: var(--txt);
    width: 100%;
    padding: 5px;
  }


  #countryInfos {
    padding: 10px;
    background-color: var(--table);
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  li {
    margin-bottom: 5px;
  }

  form{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

#cityName{
  width: 300px;
}

#cityCode{
  width: 100px;
}